.home-menu{
  width: 100%;
  border-bottom: 1px solid rgb(117, 117, 117);
}
.home-menu ul.list-menu-item{
  margin: 0;
  list-style: none;
  text-align: center;
}
.home-menu ul.list-menu-item li{
  display: inline-block;
}
.home-menu ul.list-menu-item .menu-item{
  display: block;
  padding: 8px;
  margin: 15px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(117, 117, 117);
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(117, 117, 117);
  border-radius: 8px;
  transition: all 0.2s;
}
.home-menu ul.list-menu-item .menu-item:hover{
  border-color: rgb(53, 53, 53);
  color: rgb(53, 53, 53);
  box-shadow: 1px 1px 1px 1px rgb(117, 117, 117, 0.2);
  text-shadow: 1px 1px 12px rgb(117, 117, 117, 0.2);
}