.near-events{
  margin: 0 10%;
  padding-top: 15px;
}
.section-title{
  line-height: 2em;
  font-size: 18px;
  font-weight: bold;
  float: left;
}
.section-desc{
  font-size: 15px;
  line-height: 2em;
  clear: both;
}
.section-showMore a{
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
  text-decoration: none;
  color: rgb(0, 152, 171);
  float: right;
}
.section-content{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.section-content .item{
  position: relative;
  border: 1px solid rgba(200, 200, 200, 0.5);
  box-shadow: 1px 1px 5px 1px rgba(117, 117, 117, 0.2);
  border-radius: 10px;
  transition: all 0.2s;
}
.section-content .item > a.link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-content .item:hover{
  transform: translate(0px, -1px);
  box-shadow: 1px 1px 8px 2px rgba(117, 117, 117, 0.3);
}
.section-content .event-item{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 220px;
  padding: 15px;
  margin-right: 15px;
}
.section-content .event-item .event-detail{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin-bottom: 5%;
}
.section-content .event-item .event-detail .time{
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 152, 171);
}
.section-content .event-item .event-detail .name{
  font-size: 22px;
  font-weight: bold;
  text-wrap: break-word;
}
.section-content .event-item .event-detail .desc{
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-content .event-item .event-detail .place{
  color: rgb(117, 117, 117);
  font-size: 15px;
  text-wrap: break-word;
}
.section-content .event-item .event-detail .place i{
  float: left;
  line-height: 2em;
  margin-right: 5px
}
.section-content .event-item .attend{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-content .event-item .attend .attendees{
  color: rgb(117, 117, 117);
  font-size: 15px;
}
.section-content .event-item .attend a.attend-btn{
  z-index: 1;
  padding: 10px 20px;
  border: 1px solid rgb(0, 152, 171);
  color: rgb(0, 152, 171);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.1s;
}
.section-content .event-item .attend a.attend-btn:hover{
  background-color: rgb(0, 152, 171);
  color: #FFF;
}